body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #000000d7;
    background-color: #f7f7f7;
    /* background-image: url("../image/body1.jpg"); */
    /* background: linear-gradient(155deg, rgba(119 95 253) 0%, rgba(255,237,144,1) 37%, rgba(255,165,236,1) 71%, rgba(255,244,155,1) 88%); */
}

 
.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
 

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.text-center {
    text-align: center;
}

#swiper {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
}

.title-slider {
    font-size: 32px;
    text-align: center;
}

.slider-image {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}
.f-wrap {
    flex-wrap: wrap;
}

.space-between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1428px;
    margin: 0 auto;
}

.time {
    font-size: 58px;
    
}


.code {
    margin-top: 30px;
    width: 400px;
    height: 400px;
    background-image: url("../image/code.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}


.logo {
    width: 150px;
}



.title {
    font-size: 42px;
    font-weight: bold;
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(184,5,214,1) 0%, rgba(221,193,48,1) 35%, rgba(255,0,202,1) 67%, rgba(233,209,16,1) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
}

.header {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 7px #000000ad;
    padding: 10px 5px;
    color: #fff;
}

.header a {
    color: #fff;
}


.navigator-item:not(:last-child) {
    margin-right: 10px;
}

.adress {
    font-style: normal;
    margin-right: 30px;
}

.container-padding {
    padding: 30px 0;
}

/* .main {
    padding: 10px 5px;
} */

.section-my__list {
    width: 600px;
   
}


.section-my__list-my-text {
    font-size: 48px;
    font-weight: 900;

}

.image-employee {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.section-my__list-my-ontext {
    font-size: 24px;
}

  .line-1{
    position: relative;  
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(44) 1s  normal both,
             blinkTextCursor 500ms steps(44)   normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(5, 5, 5, 0.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter1{
    animation: typewriter1 5s steps(44) 1s  normal both,
               blinkTextCursor1 500ms steps(44)   normal;
  }
  @keyframes typewriter1{
    from{width: 0;}
    to{width: 14em;}
  }
  @keyframes blinkTextCursor1{
    from{border-right-color: rgba(5, 5, 5, 0.75);}
    to{border-right-color: transparent;}
  }

  .anim-typewriter2{
    animation: typewriter2 5s steps(44) 1s  normal both,
               blinkTextCursor2 500ms steps(44)   normal;
  }
  @keyframes typewriter2{
    from{width: 0;}
    to{width: 31em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: rgba(10, 10, 10, 0.75);}
    to{border-right-color: transparent;}
  }




.section-step {
    background-color: #000000d7;
    color: #fff;
    padding: 10px 5px;
}


.number {
    display: block;
    width: 50px;
    font-size: 40px;
}

.section-step__title {
    font-size: 32px;
}

.section-step__text {
    font-size: 14px;
    margin-left: 10px;
}

.send {
    background-color: #fff;
    box-shadow: 0 0 7px #000000ad;
    padding: 10px 25px;
    
}

.send-label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.send-item:not(:last-child) {
    margin-bottom: 10px;
}

.send-input {
    width: 100%;
    background-color: #f1f1f1;
    padding: 15px 5px 15px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.sent-button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    color: rgb(0, 0, 0);
    background-color: #6466e2;
    color: #fff;
}

.sent-button:hover,
.sent-button:focus {
    transition: all 400ms;
    cursor: pointer;
    color: #fff;
    background-color: #000000bb;
}

.send-form {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #6466e2;
    color: #fff;
}

.send-form:hover,
.send-form:focus {
    transition: all 400ms;
    cursor: pointer;
    color: #fff;
    background-color: #000000bb;
}

.footer {
    background-color: #000000d7;
    color: #fff;
    padding: 10px 5px;
}

footer a{
    color: #fff;
}

a:hover,
a:focus {
    transition: all 400ms;
    color: #6466e2;
}


.perspective__title {
    font-size: 30px;
}

.perspective__list {
    padding: 10px 0;
}

.perspective__item {
    background-color: #fff;
    padding: 10px 15px;
    font-size: 18px;
}

.perspective__item:not(:last-child) {
    margin-bottom: 10px;
}

.perspective__item:hover {
    transition: all 400ms;
    box-shadow: 0 0 7px #000000ad;
    transform: scale(1.2);
}


.service__item {
    padding: 10px 15px;
    /* border: 1px solid #000; */
    background-color: #fff;
    width: 300px;
}

.service__price {
    color: #6466e2;
}

.image__service {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.wrapperAboutService {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;  
    background-color: #0a0a0a38;
    z-index: 999
}

.contentAboutService {
    overflow: hidden;
    padding: 15px 15px;
    background-color: #fff;
    width: 50%;
    height: 60%;
    margin:  100px auto;
    font-size: 18px;
    position: relative;
}

.serviceList {
    list-style: inherit;
    padding-left: 10px;
} 

.portfolio {
    padding: 15px 0;
    background-color: #fff;
}

.border__blue {
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #6466e2;
}

.portfolio__button {
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    border: none;
    /* box-shadow: 0 0 10px 0; */
}

.portfolio__button:hover,
.portfolio__button:focus {
    cursor: pointer;
    transition: all 400ms;
    background-color: #000000d7;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    background-image: url("../image/icons/close.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: none;
}

.close-button:hover{
    cursor: pointer;
    transition: all 400ms;
    background-color: #6466e2;
}

.contact {
    cursor: pointer;
}



.blockWhenSize768 {
    display: none;
}

@media(max-width: 1440px){
    .container {
        max-width: 768px;
    }

    .d-block {
        display: block;
    }

    .logo {
        display: block;
        width: 246px;
        margin: 0 auto;
    }
    
    .header__wrapper  {
        justify-content: inherit;
        display: inherit;
    }

    .blockWhenSize1024 {
        display: none ;
    }
    
    .blockWhenSize768 {
        display: inherit;
    }

    .navigator-list {
        width: max-content;
        margin: 0 auto;
    }

    .contact__list {
        width: max-content;
        margin: 0 auto;
    }

    .adress {
        text-align:  center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header__wrapper-adress {
        margin: 10px 0 10px 0;
    }

    .size768-text-center {
        text-align: center;
    }

    .section-my__list {
        width: 100%;
    }

    .section-my__list-my-ontext {
        font-size: 18px;
    }

    #swiper {
        margin: 0 auto;
        width: 600px;
    }
    
    .image-employee {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    .perspective__title {
        text-align: center;
    }

    .code {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .time {
        font-size: 34px;
    }

    .service__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media(max-width: 1440px){
    .service__list {
        display: block;
        margin: 0 auto;
        width: max-content;
    }

    .code {
        width: 300px;
    }
}


@media(max-width: 768px){
    .container {
        width: 315px;
    }

    #swiper {
        margin: 0 auto;
        width: 200px;
    }

    .title-slider {
        font-size: 18px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .section-my__list-my-ontext {
        font-size: 12px;
    }
    .code {
        width: 300px;
    }
   
    .send-form {
        display: block;
        margin: 0 auto;
    }

    .anim-typewriter2 {
        display: none;
    }

    .service__item  {
        padding: 10px 5px;
    }

    .contentAboutService {
        font-size: 10px;
        height: max-content;
    }
}