@font-face {
    font-family: "Oswald";
    src: url(../Oswald-VariableFont_wght.ttf);
}

body {
    font-family: 'Oswald';
    font-size: 14px;
    color: #000;
    background: #ffffff;
}

 
.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
 

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    background-image: url("../image/fon1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

.logo__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
}

.logo {
    width: 140px;
}

.nav {
    margin: 0 auto;
    /* padding: 30px 0; */
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
}

.item:not(:last-child) {
    margin-right: 26px;
}

.header__nav-wrapper {
    padding: 30px 5px;
    background-color: #005bc199;
    position: relative;
}

.header-line {
    position: absolute;
    background-color: #005bc199;
    width: 444px;
    height: 100%;
    left: -200px;
    z-index: 1;
    top: 0;
}

.header-content {
    position: relative;
    padding: 282px 0 200px 0;
    margin: 0 auto;
    width: 635px;
}

.header-content__wrapper {
    position: relative;
    z-index: 2;
}

.header-content__text {
    margin: 40px 0;
}

.header-content__button {
    background: none;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 15px 40px;
}

.main {
    padding: 5px;
}

.line-wrapper {
    margin-right: 40px;
}

.big-line {
    display: block;
    border-bottom: 1px solid #005BC1;
    width: 100px;
    height: 1px;
    margin-bottom: 13px;
}

.smoke-line {
    display: block;
    border-bottom: 1px solid #005BC1;
    width: 50px;
    height: 1px;
    margin-right: auto;
}

.left-button {
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    background-image: url('../image/left.png');
    width: 55px;
    height: 55px;
}

.right-button {
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    background-image: url('../image/right.png');
    width: 55px;
    height: 55px;
}

.project-section {
    margin-top: 70px;
}

.project-section__content-list {
    padding: 0;
    margin-top: 70px;
    margin-bottom: 150px;
}

.project-section__content {
    padding: 255px 55px 55px 255px;
}

.project-section__content:not(:last-child) {
    margin-right: 30px;
}

.contentimageone {
    background-image: url("../image/contentimageone.jpg");
}

.contentimagetwo {
    background-image: url("../image/contentimagetwo.jpg");
}

.project-section__content-wrapper {
    padding: 20px 25px;
    background-color: #ffffff;
}

.catalog-section {
    margin-bottom: 150px;
}

.catalog-section__wrapper-with-button {
    margin: 70px auto 55px auto;
}

.catalog-section__button {
    background:none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.catalog-section__button:not(:last-child) {
    margin-right: 47px;
}

.catalog-section__button:hover,
.catalog-section__button:focus {
    transition: all 400ms;
    cursor: pointer;
    border-bottom: 1px solid #005BC1;
    color: #005BC1;
}

.staticapparat {
    background-image: url("../image/staticapparate.jpg");
}

.controller {
    background-image: url("../image/control.jpg");
}

.accessory {
    background-image: url("../image/аксессуар.jpg");
}

.catalog-section__list {
    justify-content: space-between;
}

.catalog-section__item {
    width: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 0 15px 85px;
    
}

/* .catalog-section__item:not(:last-child) {
    margin-right: 30px;
} */

.catalog-section__item-text {
    margin-left: auto;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    background-color: #005BC1;
    padding: 15px 21px;
}

.arenda-section {
    margin-bottom: 108px;
}

.arenda-section__content {
    padding: 30px;
    border: 3px solid #005BC1;
}

.arenda-section__content-wrapper {
    justify-content: space-between;
    margin-top: 40px;
}

.arenda-section__content-text {
    width: 350px;
}

.arenda-section__content-title {
    font-size: 21px;
}



.arenda-section__content-image {
    width: 255px;
}

.arenda-section__content-list {
    padding-left: 30px;
    margin-top: 30px;
    list-style: outside;
}

.arenda-section__content-item:not(:last-child) {
    margin-bottom: 10px;
}

.news-section__list {
    margin-top: 70px;
    padding: 0;
    justify-content: space-between;
}

.news-section__image-title {
    width: 255px;
    font-size: 14px;
}

.news-section__article {
    margin-left: 30px;
}

.news-section__title {
    font-size: 18px;
}

.news-section__text-title {
    width: 255px;
}

.news-section__image {
    width: 128px;
}

.news-section__link {
    border-bottom: 1px solid #000;
}

.news-section__link:hover,
.news-section__link:focus {
    cursor: pointer;
    color: #005BC1;
    border-bottom: 1px solid #005BC1;
}

.news-section__item {
    display: grid;
}

.news-section__item:not(:last-child) {
    margin-right: 60px;
}

.footer {
    color: #fff;
    background-color: #005BC1;

}


.footer a{
    color: #fff;
}

.footer__wrapper:not(:last-child) {
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

.footer__wrapper-list {
    padding: 0;
}

.footer__wrapper-item:not(:last-child) {
    margin-right: 30px;
}

.footer__wrapper__modificate {
    padding-top: 30px;
}

.project-section div {
    justify-content: space-between;
}

@media(max-width: 1280px) {
    .news-section__list {
        flex-wrap: wrap;
        justify-content: center;
    }
/* 
    .news-section__image-title {
        width: 150px;
    }

    .news-section__text-title {
        width: 150px;
    }
*/
    .news-section__item {
        width: 350px;
        padding: 10px;
        margin-bottom: 60px;
        border: 1px solid #005BC1;
    } 

    .news-section__item__modif {
        width: 650px;
    }

    .catalog-section__wrapper-with-button .left-button {
        width: 30px;
        height: 30px;
    }

    .catalog-section__wrapper-with-button .right-button {
        width: 30px;
        height: 30px;
    }

    .project-section__content {
        padding: 200px 4px 11px 135px;
    }

    .catalog-section__item {
        width: 245px;
    }
}

@media(max-width:1024px) {
    .item {
        font-size: 14px;
    }

    .header-line {
        width: 285px;
        left: -20px;
    }

    .left-button {
        width: 30px;
        height: 30px;
    }

    .right-button {
        width: 30px;
        height: 30px;        
    }

    .project-section__content-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-section__content:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .catalog-section__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalog-section__item {
        width: 100%;

    }
    .catalog-section__item:not(:last-child) {
        width: 100%;
        margin-bottom: 30px;
    }

    .arenda-section__content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .arenda-section__content-item {
        font-size: 12px;
    }

    .arenda-section__content-image {
        width: 150px;
    }

    footer {
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .header__nav-wrapper {
        padding-top: 170px;
    } 

    .list {
        margin-bottom: 30px;
        display: block;
    }

    .item:not(:last-child) {
        margin: 0;
    }
    
    .logo__wrapper {
        width: 50%;
        height: 50%;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .title  {
        text-align: center;
    }

    .header-content__text {
        text-align: center;
    }

    .header-content__button {
        display: block;
        margin: 0 auto;
    }

    .header-line {
        display: none;
    }

    .project-section .left-button,
    .project-section .right-button{
        display: none;
    }

    .header-content {
        width: 300px;
    }

    .catalog-section__wrapper-with-button .left-button,
    .catalog-section__wrapper-with-button .right-button {
        display: none;
    }

    .news-section__item:not(:last-child) {
        margin: 0 0 30px 0;
    }

    .news-section__item__modif {
        flex-wrap: wrap;
    }

    .news-section__image-title {
        margin: 0 auto;
        display: block;
    }

    .arenda-section__content {
        padding: 5px;
    }

    .news-section__text-title {
        width: inherit;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .block-for-line .line-wrapper {
        display: none;
    }

    .line-wrapper {
        margin: 0 auto;
    }

    .block-for-line {
        justify-content: center;
    }

    .block-for-line h2 {
        text-align: center;
        margin-top: 20px;
    }

    .project-section div {
        justify-content: center;
    }
}